@{
    ViewData["Title"] = "Control Plane";
}
@model List<VotingWeb.Controllers.NodeModel>

<div ng-controller="VotingAppController" ng-init="refresh()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h2>Control Plane</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form class="col-xs-12 center-block">               
                    <button id="btnAdd" class="btn btn-default" ng-click="refresh()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Refresh Node List
                    </button>
                </form>
            </div>
        </div>


        <h2>Node List</h2>
        <table class="table" id="NodeListTable">
            <thead>
                <tr>
                    <th>Node Name</th>
                    <!-- Add additional columns as needed -->
                </tr>
            </thead>
            <tbody>
                @foreach (var node in Model)
                {
                    <tr>
                        <td>@node.NodeName</td>
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>App Name</th>
                                        <!-- Add additional columns as needed -->
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var app in node.Apps)
                                    {
                                        <tr>
                                            <td>@app.AppName</td>
                                            <!-- Add additional columns as needed -->
                                            <td>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Code Pkg Name</th>
                                                            <!-- Add additional columns as needed -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                            @foreach (var code in app.CodePkg)
                                                            {
                                                            <tr>
                                                                <td>@code.CodeName</td>
                                                                <td>@code.ServiceUrl</td>
                                                                <td>
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Disk Details</th>
                                                                                <!-- Add additional columns as needed -->
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table class="table1">
                                                                                        <tr id="123">
                                                                                            @foreach (var disk in code.Disks)
                                                                                            {
                                                                                                <td id="@disk.DeviceID">
                                                                                                    <table>
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th>
                                                                                                                    <button class="btn btn-success text-left btn-block">
                                                                                                                        <span class="pull-left">
                                                                                                                            Friendly Name
                                                                                                                        </span>
                                                                                                                        <span class="badge pull-right">
                                                                                                                            @disk.DiskName
                                                                                                                        </span>
                                                                                                                    </button>
                                                                                                                </th>
                                                                                                                <!-- Add additional columns as needed -->
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    <button class="btn btn-success text-left btn-block">
                                                                                                                        <span class="pull-left">
                                                                                                                            Device ID
                                                                                                                        </span>
                                                                                                                        <span class="badge pull-right">
                                                                                                                            @disk.DeviceID
                                                                                                                        </span>
                                                                                                                    </button>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    <button class="btn btn-success text-left btn-block">
                                                                                                                        <span class="pull-left">
                                                                                                                            Device Number
                                                                                                                        </span>
                                                                                                                        <span class="badge pull-right">
                                                                                                                            @disk.DeviceNumber
                                                                                                                        </span>
                                                                                                                    </button>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    <button class="btn btn-success text-left btn-block">
                                                                                                                        <span class="pull-left">
                                                                                                                            Media Type
                                                                                                                        </span>
                                                                                                                        <span class="badge pull-right">
                                                                                                                            @disk.MediaType
                                                                                                                        </span>
                                                                                                                    </button>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    <button class="btn btn-success text-left btn-block">
                                                                                                                        <span class="pull-left">
                                                                                                                            Bus Type
                                                                                                                        </span>
                                                                                                                        <span class="badge pull-right">
                                                                                                                            @disk.BusType
                                                                                                                        </span>
                                                                                                                    </button>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    <button class="btn btn-success text-left btn-block">
                                                                                                                        <span class="pull-left">
                                                                                                                            Size
                                                                                                                        </span>
                                                                                                                        <span class="badge pull-right">
                                                                                                                            @disk.Size
                                                                                                                        </span>
                                                                                                                    </button>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    <button class="btn btn-success text-left btn-block">
                                                                                                                        <span class="pull-left">
                                                                                                                            Allocated Size
                                                                                                                        </span>
                                                                                                                        <span class="badge pull-right">
                                                                                                                            @disk.AllocatedSize
                                                                                                                        </span>
                                                                                                                    </button>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    <button class="btn btn-success text-left btn-block">
                                                                                                                        <span class="pull-left">
                                                                                                                            Namespace Meta
                                                                                                                        </span>
                                                                                                                        <span class="badge pull-right">
                                                                                                                            @disk.NamespaceMeta
                                                                                                                        </span>
                                                                                                                    </button>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            }
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <!-- Add additional columns as needed -->
                                                            </tr>
                                                        }   
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                        <!-- Add additional columns as needed -->
                    </tr>
                }
            </tbody>
        </table>
        <hr />

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <input id="txtAdd" type="text" class="form-control" placeholder="Add voting option" ng-model="item"/>
                    </div>
                    <button id="btnAdd" class="btn btn-default" ng-click="add(item)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add
                    </button>
                </form>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-4">
                        Click to vote
                    </div>
                </div>
                <div class="row top-buffer" ng-repeat="vote in votes.data">
                    <div class="col-xs-8">
                        <button class="btn btn-success text-left btn-block" ng-click="add(vote.key)">
                            <span class="pull-left">
                                {{vote.key}}
                            </span>
                            <span class="badge pull-right">
                                {{vote.value}} Votes
                            </span>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-danger pull-right btn-block" ng-click="remove(vote.key)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
